/* ============================ Medias =========================== */

@media (min-width: 1200px) {
  .advisor-details-wrapper {
    margin-left: 24px;
  }
}

/* ============================ Wide Tablets ============================ */

@media (max-width: 1199px) {
  .advisor-details-wrapper {
    margin-left: 24px;
  }
}

/* ============================ Tablets ============================ */

@media (max-width: 991px) {
  .advisor-details-wrapper {
    margin-left: 12px;
    margin-right: 12px;
    padding: 24px;
    min-width: auto;
    width: auto;
  }

  .advisor-data {
    display: block;
    padding-bottom: 12px;
  }
  .advisor-personal-info {
    padding-left: 0px;
    text-align: center;
  }
  .advisor-bio {
    height: auto;
  }
  .advisor-bio .bio {
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 25px;
    position: relative;
    overflow-y: scroll;
    height: 235px;
  }
  .my-divider {
    width: 100%;
  }
  .statistics-details {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .statistics-details div {
    margin-right: 0px;
  }
  .advisor-status {
    padding-bottom: 10px;
  }
  .advisor-personal-info .advisor-name {
    font-size: 18px;
    line-height: 22px;
  }
  .advisor-personal-info .advisor-title,
  .advisor-status {
    padding-bottom: 5px;
  }
  .advisor-data .advisor-img img {
    width: 110px;
    height: 110px;
  }
}

/* ============================ Smart Phones ============================ */

@media (max-width: 767px) {
  .advisor-mobile-wrapper {
    /* display: none; */
  }
  .advisor-details-wrapper {
    height: auto;
    width: auto;
    min-width: auto;
    margin: 0px;
    padding: 32px 16px;
    padding-bottom: 60px;
    padding-top: 110px;
  }
  .advisor-data {
    padding-bottom: 20px;
  }
  .advisor-personal-info .advisor-title,
  .advisor-status {
    padding-bottom: 10px;
  }
  .mobile-info {
    height: 72px;
    background: linear-gradient(180deg, #1f49ad 0%, #001f66 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }
  .mobile-info-advisor-data {
    width: 100%;
    position: relative;
  }
  .mobile-backIcon {
    position: absolute;
    left: 24px;
    top: 2px;
    cursor: pointer;
  }
  .advisor-personal-info .advisor-name {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.7px;
    color: #3d4852;
  }
  .statistics-details {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }
  .statistics-details div {
    text-align: left;
  }
  .advisor-bio .bio {
    height: auto;
    overflow-y: auto;
    margin-top: 16px;
    padding-right: 24px;
  }
}
@media (max-width: 359px) {
}
