/* ============================ Medias =========================== */

@media (min-width: 1200px) {
  .mobile-nav {
    display: none;
  }
}

/* ============================ Wide Tablets ============================ */

@media (max-width: 1199px) {
  .header-layout .ant-layout-header {
    padding: 0px 40px 0px 40px !important;
  }
  .mobile-nav {
    display: none;
  }
}

/* ============================ Tablets ============================ */

@media (max-width: 991px) {
  .mobile-nav {
    display: none;
    height: 72px;
    /* background: white; */
  }
}

/* ============================ Smart Phones ============================ */

@media (max-width: 767px) {
  .header-layout {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: start;
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .sideNav {
    height: 100%;
    width: 0px;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
    width: 264px !important;
    /* overflow-x: hidden; */
    transition: 0.5s;
  }
  .sideMenuNav {
    position: fixed;
    z-index: 1;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 20px;
  }
}

@media (max-width: 359px) {
}
