/* ============================ Medias =========================== */

@media (min-width: 1200px) {
}

/* ============================ Wide Tablets ============================ */

@media (max-width: 1199px) {
}

/* ============================ Tablets ============================ */

@media (max-width: 991px) {
}

/* ============================ Smart Phones ============================ */

@media (max-width: 767px) {
  .content-wrapper {
    margin-top: 0px;
    margin-right: 0xp;
    padding: 0px;
  }
}

@media (max-width: 359px) {
}
