/* ============================ Medias =========================== */

@media (min-width: 1200px) {
  .chat-wrapper {
    width: 100%;
    margin-right: 24px;
  }
}

/* ============================ Wide Tablets ============================ */

@media (max-width: 1199px) {
  .chat-wrapper {
    width: 100%;
    margin-right: 24px;
  }
}

/* ============================ Tablets ============================ */

@media (max-width: 991px) {
  .chat-wrapper {
    margin-right: 12px;
    padding: 12px;
    height: auto;
  }
  .chat-messages-wrapper {
    height: auto;
  }
  .chat-wrapper .received-message,
  .chat-wrapper .sent-message {
    max-width: 400px;
  }
  .chat-wrapper .received-message .received-text,
  .chat-wrapper .sent-message .sent-text {
    padding: 8px 24px 34px 16px;
  }
  .chat-wrapper .received-message .details {
    left: 320px;
  }
  .chat-wrapper .sent-message .details {
    left: 295px;
  }
}

/* ============================ Smart Phones ============================ */

@media (max-width: 767px) {
  .chat-wrapper {
    margin-right: 0px;
    padding: 0px;
    position: relative;
    min-height: 100vh;
  }
  .chat-wrapper .received-message,
  .chat-wrapper .sent-message {
    max-width: 240px;
  }
  .chat-wrapper .received-message {
    margin-bottom: 16px;
  }
  .chat-wrapper .sent-message {
    margin-right: 0px;
  }
  .chat-messages-wrapper {
    padding: 24px 16px 0px 16px;
    max-height: inherit;
  }
  .chat-messages-wrapper > div:last-child {
    margin-bottom: 55px;
  }

  /* width */
  .chat-messages-wrapper::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
    overflow-y: hidden; /* Hide vertical scrollbar */
  }

  .chat-wrapper .received-message .details {
    left: 170px;
  }
  .chat-wrapper .sent-message .details {
    left: 135px;
  }
  .chat-wrapper .sent-message .details .time {
    margin-right: 10px;
  }
  .message-date {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

@media (max-width: 359px) {
}
